body {
  font-family: "Merriweather", serif;
  background: #e7e8e9;
}

.hero {
  background: url(images/pexels-suzy-hazelwood.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
