body {
  min-height: 100%;
  background-image: url("images/pexels-messala-ciulla-942872.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
footer {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 18px;
}
footer a {
  text-decoration: none;
}
