.Dictionary input {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 8px 6px;
  border-radius: 5px;
  border: 1px solid;
  margin-right: 60px;
}

.Dictionary section {
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
}

.Dictionary h1 {
  text-align: center;
  margin-top: -10px;
  margin-right: -85px;
  color: #00224c;
}

.Results {
  text-align: center;
}
