.Meaning h4 {
  margin-top: -50px;
  color: #00224c;
}
.Meaning .Example {
  display: inline-block;
  font-style: italic;
  font-size: 16px;
  color: rgb(99, 94, 94);
  margin-top: 10px;
}

.Meaning .Example:first-letter {
  text-transform: capitalize;
}

.Meaning .Definition {
  display: inline-block;
}

.Meaning .Definition:first-letter {
  text-transform: capitalize;
}

.Synonyms li {
  display: inline-block;
  font-size: 15px;
  text-transform: capitalize;
  padding-right: 10px;
  margin-top: 10px;
  font-style: italic;
}

.Synonyms {
  margin-left: 50px;
}
